 <style>
 .nav-brand-font {
   /*font-family:'Cinzel', serif;*/
   /*font-family:'Calistoga', cursive;*/
   font-family:'Trade Winds', cursive;
   font-size:28px;
   margin-bottom:-2px;
 }
 .nav-menu-font {
   font-family: 'Ruda', sans-serif;
 }
 </style>
 <!-- <section class="fixed-top" style="z-index: 1040 !important;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse bg-light text-center" id="navbarCollapse">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link nav-menu-font" href="/">/</a>
        </ul>
      </div>
    </div>
  </nav>
 </section> -->
