<div class="container-fluid">
  Legend:
  <ul>
    <li>Plant</li>
    <li>Systems</li>
    <li>Component</li>
    <li>Measurement Techniques</li>
    <li>Calculation Methodology</li>
  </ul>
</div>
<section class="d-flex flex-column">
  <section class="container-fluid">
    <div id="first-table" class="border" style="width: 80%; height: 1200px;"></div>
  </section>
</section>

{{ with resources.Get "js/main.js" }}
  {{ with . | js.Build }}
      <script src="{{ .RelPermalink }}"></script>
  {{ end }}
{{ end }}



